body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #233565;
}

#root {
    padding: 0 10px;
}

main {
    min-height: 65vh;
}

.p-progress-spinner {
    left: 50%;
    transform: translate(-50%);
}

@media screen and (min-width: 1200px) {
    #root {
        max-width: 40%;
        margin: 0 auto;
    }
}